// @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
  font-family: 'Molly';
  src: url('./CutieMolly.ttf');
}
:root {
  // font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #FFFFFF;
  --pink: #E84067;
}

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #FEC793;
  font-family: 'Molly', sans-serif;

}

.cen{
  display: flex;
  justify-content: center;
  align-items: center;
}